<div class="body">
  <div class="profile">
      <h2>About Me</h2>
      <div class="profile-image">
          <img src="/profile.jpeg" alt="profile-picture" />
      </div>
      <div class="text">
          <p>
              I graduated from the University of South Carolina with a BS in Computer Science in 2021, however, my passion for Computer Science started years before!
              I first started learning programming in my high schools FIRST Robotics team! After realizing my passion for computer science, I went to South Carolina to study! While there,
              had the opportunity to gain experience in Java whilst helping TA students in a lab environment. I would start to learn full stack web development later on while interning at Boeing.
              While there, I used react and Kotlin Spring to develop an internal site, while also creating a CI/CD pipeline for Blue/Green deployments, testing, and more! Finally I worked with University of South Carolina's AI Institute before graduating.
              I had the opportunity to work on a project helping those who suffer from sickle cell aneomia. Specifically, I used Python on AWS Lambda to injest data from Withings API.
          </p>
          <p>
              After graduating, I worked at Infrasight Software Corp. as an associate software engineer. While there, I mainly worked on their REST API written in Java utilizing the micronaut framework.
              This also provided the opportunity to work with MongoDB. My favorite part of that job, however, was working in C++ on their metrics collector, and creating a license manager! The license manager utilized CryptoPP to create secure RSA-based licenses to access their metrics collector.
              Eventually, I would come to manage new developer onboarding and create training materials!
          </p>
          <p>
              After my time at Infrasight, I started working at Spectrum as a Software Engineer. At Spectrum, I've been working with Angular, Typescript, and Python to create develop internal sites.
              This has led me to work on a plethora of problems, from rewriting an API to work with a new integration platform, creating a service to help manage geo-data for a mapbox service, helping with data integrations, working with Snowflake, creating polling services, and more!
              The geo project specifically also gave me experience with setting up infrastructure using AWS CloudFormation and serverless.
          </p>
          <p>
            Outside of work, on the technology side, I've been interested in working with embedded systems and learning godot. Through my work in embedded development I've grown to really appreciate C.
            One project I really enjoyed was creating a web server on a Feather Huzzah to send web requests to start and stop my coffee machine!
            Some of my other C projects include writing the firmware for a few keyboards (Piggy60 & pi40), creating specialized lighting sequences for a video, and working with a STM32F407G Discovery kit.
          </p>
          <p>
            My interests outside of development are mainly Philosophy and Videography. Videography is a bit newer for me, but has been a ton of fun to learn about! As for philosophy, I've recently had a high interest in post-structuralism, as well as trying to study Hegel and Kant.
          </p>
      </div>
  </div>
  <br>
  <div class="skills">
      <h2>Development Skills</h2>
      <div class="languages">
      <h3>Languages</h3>
          <ul>
              <li>C</li>
              <li>C++</li>
              <li>Java</li>
              <li>Python</li>
              <li>Typescript</li>
              <li>Angular</li>
          </ul>
      </div>
      <div class="technologies">
          <h3>Technologies</h3>
          <ul>
              <li>Linux</li>
              <li>Git</li>
              <li>Docker</li>
              <li>AWS</li>
              <li>SQL</li>
              <li>Snowflake</li>
              <li>MongoDB</li>
          </ul>
      </div>
  </div>
</div>
