<h2>New Left Dropouts</h2>

<iframe src="https://drive.google.com/file/d/1wlAFSobp9qgfdqC0XUbWA7Eyt5EZ5uWE/preview" width="1026" height="577"></iframe>

<p>Above is some test footage captured around Charlotte in order for me to lock in the camera settings/LUT I'd like to use for the documentary.</p>

<p>The documentary will be a cross between a live version of Robert Kramer's Milestone's, and Toshio Matsumoto's The Weavers of Nishijin, set in the south eastern United States.</p>

<p>I'm hoping to visit a number of leftist organizations throughout the south eastern US and talk about their stories, struggles, and hope's for a better future. The form of the documentary will be done in Toshio Matsumoto's Avant-Garde or Neo-Documentary. This style influences the dialectic between the signifier and the signified in the sign, hopefully capturing a more complete outlook on the situation, rather than a straight-forward, positivist, documentary. To reach out with any comments, questions, or concerns, please feel free to <a href="mailto:mollybraswell232@gmail.com">email me!</a></p>